<!-- Problably will be used later, Under Development-->


<div class="card" data-toggle="modal" data-target="#exampleModal"   {{action "pickCurrentBook" book }}>
  <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">{{book.name}}</h3>
    <em>by</em>
    <p class="card-text">{{book.author}}</p>
    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna .</p>
  </div>
</div>
