
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Books</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{model.user.name}}</td>
        <td>
          {{#each model.user.books as |book|}}
          <ul>
              <li>{{book.name}}</li>
          </ul>
            {{/each}}
          </td>
          <td>
            {{#each model.user.books as |book|}}
            <ul>
              <!-- DELETE under development-->
              <button type="button" class="btn btn-danger"{{action 'deleteFromUserLibrary' book}} > Return Order </button>
            </ul>
              {{/each}}
            </td>
      </tr>
  </tbody>
</table>
<!-- Modal -->
