{{nav-bars/info-navbar  title="Past Orders"}}
{{#if model.user.books}}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.user.books as |book|}}
      <tr>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>1</td>
        </tr>
    {{/each}}

  </tbody>
</table>
{{else}}
<h2> You have no active orders </h2>
{{/if}}
