#book-filter {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .category-search {
    height: 3rem;
  }

  .category-link {
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    color: white;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;
    margin-right: 1rem;
    background-color: #6c757d;
    position: relative;
    top: 0;
    transition: top ease 0.5s;

    &:hover {
      top: -5px;
    }

    &.active {
      top: -5px;
      background-color: #3c3c3d;
      font-weight: bold;
    }
  }
}