#site-layout {
  height: 100%;
  width: 100%;
  $top-navbar-height: 45px;
  $site-left-width: 10%;
  $site-right-width: 10%;
  $info-navbar-height: 135px;
  $total-navbar-height: $top-navbar-height + $info-navbar-height;

  #main-canvas {
    width: auto;
    padding-top: calc(#{$total-navbar-height} + 10px);
    margin-left: $site-left-width;
    margin-right: $site-right-width;
    height: -webkit-calc(100% - #{$total-navbar-height});
    height: -moz-calc(100% - #{$total-navbar-height});
    height: calc(100% - #{$total-navbar-height});
  }
}