#site-layout {
  height: 100%;
  width: 100%;
  $top-navbar-height: 45px;
  $info-navbar-height: 45px;
  $site-left-width: 10%;
  $site-right-width: 10%;
  $total-navbar-height: $top-navbar-height + $info-navbar-height;
  //background color effect
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  #main-canvas {
    width: auto;

    .main-page-book {
      width: 20rem;
      margin-bottom: 1rem;
      border-color: black;
      cursor: pointer;
    }

    .main-page-book-body {
      height: 19rem;
    }
  }
  @import './nav-bars/info-navbar';
  @import './nav-bars/top-navbar';
  @import 'book-filter';
}