<nav class="container">
 {{#link-to 'books' class="navbar-brand"}} Bookstore {{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
     <span class=" navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        {{#link-to 'books' class="nav-link"}}Home{{/link-to}}
      </li>
      {{#if user}}
      <li class="nav-item">
        {{#link-to 'users.current' user.id class="nav-link"}}Orders{{/link-to}}
      </li>
      {{/if}}
      <li class="nav-item">
        {{#link-to 'support' class="nav-link"}}Contact Us{{/link-to}}
      </li>
    </ul>
    {{#if user}}
    <span class="navbar-text">
      {{user.name}}
    </span>
    {{else}}
    <span class="navbar-text">
      {{#link-to 'login' class="nav-link"}}Login{{/link-to}}
    </span>
    {{/if}}
  </div>
</nav>
