<div class="container">
 {{#link-to 'books' class="navbar-brand"}} Bookstore {{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
     <span class=" navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to 'books' class="nav-link"}}Home{{/link-to}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Past Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul>
    <span class="navbar-text">
      Insert User
    </span>
  </div>
</div>
