<div class="jumbotron">
  <h1 class="display-4">We are here to help you</h1>
  <p class="lead">If you have any question about your order, please send us an email. </p>
  <hr class="my-4">
  <p>For your facilitation, after clicking the button it will open your email client.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="mailto:llopez@kaufmanrossin.com" role="button">Contact Us</a>
  </p>
</div>
